---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    // 全てのブログ記事を取得
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
    // 全てのタグを取得し、重複を排除
    const uniqueTags =[ ...new Set(allPosts.map((post:any)=> post.frontmatter.tags).flat())];
    // 各タグに対して、タグが付いた記事をフィルタリングして、静的なパスとプロップスを返す
    return uniqueTags.map((tag)=>{
        const filteredPosts = allPosts.filter((post:any)=>post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts }
        }
    })
       

    
}




const {tag} = Astro.params;
const {posts} = Astro.props;

---

<BaseLayout pageTitle={tag}>
    <p>
        {tag}のタグが付いた記事
    </p>
    <ul>
      {posts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>
